body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Lys baggrund */
  color: #333; /* Mørk tekst */
}

h1, h2, h3, h4 {
  color: #007bff; /* Primær blå farve */
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
